/* body{
    background-image: url('../image/back.jpg');
    background-repeat: no-repeat;
    background-size:98.9rem 280rem ;
    
} */



/* header{
    width: 100%;
    position:fixed;
    background-color: red;
    height: 30px;
    margin-top: 20px ; 
    overflow: hidden;
} */

/* nav > ul > li {
    display: inline-block;
    font-size: 13px;
    padding-left:15px ;
    margin-left: 0px;
}

nav > ul > li > a{
    text-decoration: none;
     color: white;
     
}


nav > ul > li > a:hover{
    color:lightgreen;
    text-decoration: none;
    
}



.f{
    margin-left: 1000px;
   
} */



body{
    overflow-x: hidden;
}


h1{
    color:white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
   margin-top: 150px;
    margin-left: 12%;
    font-size: 6rem;

}

.hi{
    margin-top: 3em;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}

.row1{
    margin-top: 0rem;
}

.row2{
    margin-top: 12rem;
    
}

.col1{
    background-color: rgb(218, 123, 8);
     height: 38vw;
    
}



.col2{
    height: 38vw;
    padding:0px;
  
}

.pic{
    width: 100%;
    height: 38vw;

}



.p1{
    color: white;
    text-align: justify;
    margin-left: 6vw;
    padding-right: 6vw;
    font-size: 1.25vw;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#p1{
    margin-top: 7vw;
} 

#p2{
    margin-top: 3vw;
}




.row3{
    margin-top: 0rem;
}

#vid{
    margin-top:2em;
}

h2{
    color: white;
    font-size: 3rem;  
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    /* border-bottom: white solid 2px; */
}

/* .col11{
    width: 100px;
    background-color: violet;
    margin-left: 10em;
    margin-right: 10em;
} */
.p4{
    color: white;
    font-size: 1.25vw;
    text-align: justify;
    margin-left: 15em;
    margin-right: 15em;
    margin-top: 2em;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}

.row5{
    /* margin-left:14em;
    margin-right: 13em; */
    margin-top: 1.25em;
    /* background-color: lightcoral; */
}

.row6{
    /* margin-left:14em;
    margin-right: 13em; */
    margin-top: 1.25em;
    /* background-color: lightcyan; */
}

.col3{
    /* background-color: lightgreen; */
    padding-left: 2.5em;

}

.col4{
    /* background-color:firebrick; */
    padding-left: 1.9em;
}

/* .col5{
    background-color: gold;
} */

.col6{
    /* background-color: hotpink; */
    padding-left: 2.5em;
}

.col7{
    /* background-color: navy; */
    padding-left: 1.9em;
}

/* .col8{
    background-color: lightblue;
}  */
 

iframe{
    width:20vw; 
    height: 13vw;
}


.row7{
    margin-top: 7rem;
    
}
.col9{
    height: 3vw;
    padding: 0px;
}


.col10{
    background-color:  rgb(218, 123, 8);
    height: 35vw;
    padding: 0px;
    
}

#sp{
    padding-top: 1vw;
    text-align: center;
}


.p5{
    color: white;
    text-align: justify;
    
    padding-left: 6vw;
    padding-right: 6vw;
    font-size: 1.25vw;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    
}
 
#p5{
    margin-top: 2vw;
}


.pic2{
    width: 100%;
    height: 35vw;

}

.row8{
    margin-top: 4em;
}

.med1{
    margin-top: 1em;
    /* background-color: lightcoral; */
}

/* .med2{
    background-color: lightgreen;
    
} */

.p8{
    margin-left: 10em;
    margin-top: 2em;
    margin-right: 5em;
    font-size: 1.1vw;
    color: white;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    

}

.pic3{
    margin-right: 14em;
    margin-bottom: 3em;
    margin-top: 4em;
    width: 28vw;
    height:19vw;
    
}




.btn-primary.but{
    background-color: transparent;
   
}



.btn-primary.but:hover{
    background-color: whitesmoke ;
    border: white solid;
    color: rgb(77, 76, 76);
    cursor: pointer;
    cursor:hand;
}

.btn-primary.but1:hover{
    background-color: whitesmoke;
    border: white;
    color: rgb(77, 76, 76);
    cursor: pointer;
    cursor:hand;
}

.btn-primary.but1{
    background-color: transparent;
}

.but{
    width: 15vw;
    margin-left: 20vw;
    margin-top: 2vw;
    height: 3vw;
    border: white solid ;
    text-transform: uppercase;
    font-size: 1vw;
    color: white;
    
    
}

.but1{
    width: 15vw;
    border: white solid ;
    margin-left: 8vw;
    margin-top: 2vw;
    height: 3vw;
    text-transform: uppercase;
    font-size: 1vw;
}

.row9{
    margin-top: 3em;
}

/* .med3{
    background-color: violet;
} */

/* .med2{
    background-color: turquoise;
} */

.pic4{
    margin-top: 7vw;
    margin-left: 14vw;
    width: 28vw;
    height:19vw;
}

.pic11{
    margin-top: 2vw;
    margin-left: 14vw;
    width: 29vw;
    height:27vw;
}

.p9{
    margin-left: 1em;
    margin-top: 2em;
    margin-right: 13em;
    font-size: 1.1vw;
    color: white;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}

.p19{
    margin-left: 1em;
    margin-top: 2em;
    margin-right: 13em;
    font-size: 1.1vw;
    color: white;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 2.0vw;
}



.con{
    /* background-image: url('../image/ppp.JPG'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(68, 67, 67);
}
.con1{
    background-color: rgb(68, 67, 67);
}

.row10{
    background-color:rgb(218, 123, 8);
    margin-top: 7em;
    height: 50vw;
    position: relative;

}
.book{
    margin-left: 15.2vw;
    margin-top: 2vw;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}

.row24{
    /* background-color: turquoise; */
    width: 50%;
    margin-left: 17vw;
}

.p10{
    color: white;
    margin-top: 2em;
    font-size: 1.25vw;
    margin-left: 13em;
    margin-right: 13em;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.pic5{
    width: 23vw;
    height:27vw;
    margin-left: 8vw;

}
.row11{
    background-color:rgb(218, 123, 8) ;
    margin-top: 7em;
    height: 50vw;
}

/* .col13{
    background-color: green;
    
}
.col14{
    background-color: hotpink;
    
   
}

.row25{
    background-color: brown;
} */

#contact{
    margin-left: 22vw;
    margin-top: 1.5em;
    font-size: 2.5vw;

}

#hr2{
  margin-left: 57%;
  margin-right: 36%;
    border: white solid 0.1em;
    
}


.p11{
    color: white;
    padding-left: 13em;
    padding-right: 0em;
    margin-top: 3em;
    font-size: 1.25vw;
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}

#inputEmail{
    width: 30vw;
    height: 3vw;
    background-color: rgb(223, 215, 215);
}


#fname{
    width: 30vw;
    height: 3vw;
    background-color: rgb(223, 215, 215);
 
}

#range{
    width: 15vw;
    
}

.form1{
    margin-top: 4vw;
}

.form{
    /* background-color: blue; */
    width:30vw;
   
   
    
}


/* .form1{
    margin-top: 4.3em;
    margin-left: 1em;
}
.form2{
    margin-top: 1.3em;
    margin-left: 1em;
}

.form3{
    margin-top: 1.3em;
    margin-left: 1em;
}

.form4{
    margin-top: 1.3em;
    margin-left: 1em;
}
.form5{
    margin-top: 1.3em;
    margin-left: 1em;
}


.form{
    margin-left: 1em;
    
} */

label{
    font-size: 1vw;
    color: white;
    font-weight: bold;
    
}

.ans{
    height: 3.5vw;
    width: 35vw;
    background-color: rgb(223, 215, 215);
}

.sub{
    width:6vw;
    height: 3.5vw;
    background-color: rgb(223, 219, 215);
    color:rgb(49, 47, 46);


}

#comment{
    width: 30vw;
    height:12vw;
    background-color: rgb(223, 215, 215);

}




.foot{
    /* background-color: firebrick; */
    left: 0px;
    right: 0px;
    position: absolute;
    
}

.copy{
    background-color: white;
    margin-top: 3em;
}


.links{
    margin-top: 2em;
    margin-left: 29.5em;
    
}

#links{
    margin-left: 1em;
}

.button{
    margin-top: 2vw;
    margin-left: 33vw;
    width: 5vw;
    
    
}

.myBtn{
    border: none;
    background-color: transparent;
    padding: 0;

}

.myBtn:hover{
    background-color: transparent;
}

#myBtn{
    font-size:48px;
    color:rgb(58, 58, 201);
}




/* #myBtn{
    border-radius:50%;
    height: 4em;
    width: 4em;
    cursor: pointer;
    cursor: hand;
   border: silver solid;
   
    
}  */

#pic6{
    width: 70%;
}

a:link{
    text-decoration: none;
}

.hr{
    margin: 0 40%;
}



.navigation{
    background-color: rgb(10, 8, 8,0.6);
    height: 3vw;
    width: 100%;
   
  
    
}

.navs{
    color:white;
    font-size: 0.85vw;
    padding-top: 1vw;

}


.bar > li > a:hover{
    color: rgb(67, 185, 67);
}

.facebook{
    margin-left: 58vw;
}

.insta{
    margin-left: 1vw;
}

.tele{
    margin-left: 1vw;
}

#link{
    color: white;
    font-size: 1.5vw;
}

#link:hover{
    color: rgb(67, 185, 67);
}

#hr{
    margin: 0 48.6%;
    border: white solid 0.1em;
}

.fb{
    background-color: white;
    border: none;
}

/* .col20{
    background-color: violet;
}

.col21{
    background-color: yellow;
}

.col22{
    background-color: yellow;

}
.col23{
    background-color: turquoise;
} */

#footer{
    color: rgb(82, 80, 80);
}

