.navi{
    background-color: rgb(255, 255, 255);
    height: 130px;
}

.navs{
    color:rgb(0, 0, 0);
    font-size: 1.2rem;
    padding-top: 1em;
    margin-right: 20px;
    width: 100px;
    height: 60px;
    text-align: center;
    
}

.navs:hover{
    color: rgb(255, 255, 255);
    background-color: black;
}

.navigation{
    /* background-color: rgb(10, 8, 8,0.6); */
    /* height: 55px;
    width: 100%; */
    padding-right: 20px;
    text-align: center;
    
}

.name{
    margin-left: 100px;
    margin-top: 20px;
    color: black;
    font-size: 30px;
    font-weight: 100;
    font-family: sans-serif;
}

.name:hover{
    font-style: italic;
}

.name2{
    font-weight: 700;
}

#name{
    text-decoration: none;
}
#link{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    margin-top: 15px;
}

#link:hover{
    color: rgb(135, 141, 135);
}

