body{
    overflow-x: hidden;
    /* font-family:  sans-serif; */
}

.navi{
    background-color: rgb(255, 255, 255);
    height: 130px;
}

.navs{
    color:rgb(0, 0, 0);
    font-size: 16px;
    padding-top: 20px;
    margin-right: 20px;
    width: 140px;
    height: 60px;
    text-align: center;
    
}

.navs:hover{
    color: rgb(255, 255, 255);
    background-color: black;
}

.navs span{
    padding-left: 13px;
}

.navigation{
    /* background-color: rgb(10, 8, 8,0.6); */
    /* height: 55px;
    width: 100%; */
    padding-right: 20px;
    text-align: center;
    
}

.btnnav{
    background-color: rgb(83, 83, 83);
    color: rgb(255, 255, 255);
}
@media screen and (max-width:500px){
    .colback{
        background: url(../image/self9.jpg);
        background-repeat: no-repeat;
        background-size: 32%;
        height: 800px;
        z-index: 0;
        background-size: cover;
    }

    .rowback::after{
        content: none;
        
    }
    
    .rowback::before{
        content: none;
        
    }

    .foot::after{
        content: none;
    }

    .foot::before{
        content: none;
    }

    .colintro h3{
        font-size: 35px;
        font-weight: 300;
        padding-left: 10px;
        padding-right: 10px;
        color: rgb(43, 41, 41);
    }

    .conback{
        margin-top: 200px;
    }

    .navigation{
        display: inline-block;
    }

    .confoot{
        position: static;
        z-index: 1;
        height:200px;
        width: 100px;
        /* background-color: thistle; */
        background: url(../image/candle.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 3%;
    }
    
    .confoot h4{
        color: rgb(255, 255, 255);
        margin-top: 45px;
        text-align: center;
        font-size: 35px;
        font-style: italic;
    }
}

.name{
    margin-left: 100px;
    margin-top: 20px;
    color: black;
    font-size: 30px;
    font-weight: 100;
    font-family: sans-serif;
}

.name:hover{
    font-style: italic;
}

.name2{
    font-weight: 700;
}

#name{
    text-decoration: none;
}
#link{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    margin-top: 13px;
}

#link:hover{
    color: rgb(135, 141, 135);
}

.tele{
    margin-right: 50px;
}

.colback{
    background: url(../image/self9.jpg);
    background-repeat: no-repeat;
    height: 800px;
    z-index: 0;
    background-size: cover;
}

.colback h3{
    text-align: center;
    font-size: 70px;
    margin-top: 400px;
    text-transform: uppercase;
    font-weight: 800;
    color: white;
}

/* .colback h3:not([data-scroll='0']) {
    margin-top: 200px;
  } */


.rowback::after{
    content: "";
    position: absolute;
    top: 830px;
    width: 800px;
    height: 100px;
    margin: 0%;
    border-bottom: 100px solid #ffffff;
    border-right: 800px solid transparent;
}

.rowback::before{
    content: "";
    position: absolute;
    top: 830px;
    z-index: 9;
    left: 796px;
    width: 802px;
    height: 100px;
    margin: 0%;
    border-bottom: 100px solid #ffffff;
    border-left: 800px solid transparent;
    
}
.rowintro{
    margin-top: 100px;
}
.colintro h3{
    font-size: 38px;
    font-weight: 300;
    padding-left: 80px;
    padding-right: 80px;
    color: rgb(43, 41, 41);
}

.rowvideo{
    margin-top: 120px;
}

.colvideo1 h3{
    font-size: 35px;
    text-align: center;
}

.colvideo1 p{
    font-size: 20px;
    padding-left: 100px;
    margin-top: 20px;
}

/* .colvideo2{
    background-color: blue;
} */

.vids{
    padding-top: 50px;
}

.btnvideo{
    margin-left: 250px;
    margin-top: 30px;
    width: 300px;
    background-color: red;
    font-size: 17px;
    opacity: 0.8;
    color: white;
}

.btnvideo:hover{
    color: white;
    opacity: 0.7;
}

.btnvideo span{
    /* margin-left: 40px; */
    text-align: center;
}

.btnvideo i{
    margin-right: 50px;  
}

.rowcharity{
    margin-top: 120px;
}

.img{
    height: 330px;
    width:600px;
    margin-left: 100px;
    margin-top: 50px;
}

.colcharity2 h3{
    font-size: 35px;
    text-align: center;
}

.colcharity2 p{
    font-size: 20px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 20px;
}

.btncharity{
    margin-top: 30px;
    margin-left: 40px;
    width: 300px;
    background-color: red;
    font-size: 17px;
    opacity: 0.8;
    color: white;
}

.btncharity:hover{
    color: white;
    opacity: 0.7;
}

.btncharity i{
    margin-right: 50px;  
}

.colcourses1{
    margin-top: 120px;
}

.colcourses1 h3{
    font-size: 35px;
    text-align: center;
}

.colcourses1 p{
    font-size: 20px;
    padding-left: 100px;
    margin-top: 20px;
}

.img2{
    width:500px;
    margin-top: 150px;
    height:300px;
}

.btnvideo2{
    margin-left: 100px;
    margin-top: 30px;
    width: 300px;
    background-color: red;
    font-size: 17px;
    opacity: 0.8;
    color: white;
}

.btnvideo2:hover{
    color: white;
    opacity: 0.7;
}

.btnvideo2 i{
    margin-right: 50px;  
}

.newrowcard{
    margin-top: 120px;
}

.cards{
    height: 600px;
    width: 400px;
    margin-left: 50px ;
    margin-top: 20px;
    /* margin-bottom: 20px; */
    background-color: rgb(255, 255, 255);
    border: none;
}

.expbtn{
    margin-top: 30px;
    width: 380px;
    background-color: red;
    font-size: 17px;
    opacity: 0.8;
    color: white;
}

.expbtn:hover{
    color: white;
    opacity: 0.7;
}

.expbtn i{
    margin-right: 50px;
}

.cards p{
    text-align: start;
    font-size: 20px;
}

.img3{
    height: 400px;
    border-radius: 2%;
}

.card-title{
    font-size: 35px;
    text-align: start;
}

footer{
    height: 300px;
    margin-top: 400px;
    background-color: rgb(28, 28, 34);
    
}

footer::after{
    content: "";
    position: absolute;
    left: 0;
    top: 504%;
    border-left: 200px solid rgb(28, 28, 34);
    border-top: 30px solid transparent;
}

footer::before{
    content: "";
    position: absolute;
    right: 0;
    top: 504%;
    border-left: 200px solid transparent;
    border-bottom: 30px solid rgb(28, 28, 34);
    
}

.confoot{
    position: absolute;
    top:495%;
    left: 9%;
    z-index: 1;
    height:200px;
    width: 1300px;
    /* background-color: thistle; */
    background: url(../image/candle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3%;
}

.confoot h4{
    color: rgb(255, 255, 255);
    margin-top: 45px;
    text-align: center;
    font-size: 35px;
    font-style: italic;
}

.copy{
    /* background-color: tomato; */
    margin-top: 150px;
    height: 120px;
}



#links{
    margin-right: 50px;
    margin-top: 60px;
    float: right;
    color: white;
    font-size: 13px;
}

#links2{
    margin-right: 350px;
    margin-top: 60px;
    float: right;
    color: white;
    font-size: 13px;
}

#links2:hover{
    color: yellow;
}

#links:hover{
    color: yellow;
}

#linksp{
    margin-right: 550px;
    margin-top: 65px;
    float: right;
    color: white;
    font-style: italic;
}

.foot::after{
    content: "";
    position: absolute;
    left: 0;
    top: 172%;
    border-left: 200px solid rgb(28, 28, 34);
    border-top: 30px solid transparent;
}

.foot::before{
    content: "";
    position: absolute;
    right: 0;
    top:172%;
    border-left: 200px solid transparent;
    border-bottom: 30px solid rgb(28, 28, 34);
    
}

.confoot2{
    position: absolute;
    top:165%;
    left: 9%;
    z-index: 1;
    height:200px;
    width: 1300px;
    /* background-color: thistle; */
    background: url(../image/candle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3%;
}

.confoot2 h4{
    color: rgb(255, 255, 255);
    margin-top: 45px;
    text-align: center;
    font-size: 35px;
    font-style: italic;
}

.colabout h1{
    font-size: 90px;
}

.colabout2 p,.colabout2 ul{
    margin-left: 100px;
    margin-right: 100px;
    font-size: 17px;
}

.colabout2 p{
    margin-top:80px;
}


.colabout2 ul{
    margin-top: 40px;
}

.rowblog2{
    margin-top: 200px;
}

.colblog h3{
    font-size: 38px;
    font-weight: 300;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    color: rgb(43, 41, 41);
}

.col23 h2,.col20 h2{
    text-align: center;
    font-size: 40px;
}

.p8{
    /* margin-left: 20px; */
    margin-top: 2em;
    /* margin-right: 5em; */
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
    

}

.but{
    margin-left: 60px;
    margin-top: 30px;
    width: 300px;
    background-color: red;
    font-size: 17px;
    opacity: 0.8;
    color: white;
}

.but:hover{
    color: white;
    opacity: 0.7;
}


.pic3{
    margin-right: 200px;
    margin-left: 100px;
    margin-top: 50px;
    width: 420px;
    height:300px;
    
}

.pic4{
    margin-top: 120px;
    width: 450px;
    height:300px;
}

.p9{
    margin-left: 1em;
    margin-top: 2em;
    font-size: 1.1rem;
    color: rgb(0, 0, 0);
    font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
}

.but1{
    margin-left: 60px;
    margin-top: 30px;
    width: 300px;
    background-color: red;
    font-size: 17px;
    opacity: 0.8;
    color: white;
}

.but1:hover{
    color: white;
    opacity: 0.7;
}

.but i,.but1 i{
    margin-right: 50px;
}

.footblog::after{
    content: "";
    position: absolute;
    left: 0;
    top: 284%;
    border-left: 200px solid rgb(28, 28, 34);
    border-top: 30px solid transparent;
}

.footblog::before{
    content: "";
    position: absolute;
    right: 0;
    top:284%;
    border-left: 200px solid transparent;
    border-bottom: 30px solid rgb(28, 28, 34);
    
}

.confootblog{
    position: absolute;
    top:275%;
    left: 9%;
    z-index: 1;
    height:200px;
    width: 1300px;
    /* background-color: thistle; */
    background: url(../image/candle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3%;
}

.confootblog h4{
    color: rgb(255, 255, 255);
    margin-top: 45px;
    text-align: center;
    font-size: 35px;
    font-style: italic;
}

.colcourses h1{
    font-size: 90px;
    text-align: center;
    text-transform: uppercase;
}

.colcourses p{
    margin-top: 30px;
    font-size: 20px;
    padding-left: 80px;
    padding-right: 80px;
}

.rowcourses{
    margin-top: 100px;
}

.rowcourses h2{
    text-align: start;
    margin-left: 12px;
}

.butcourses{
    margin-left: 20px;
    margin-top: 30px;
    width: 300px;
    background-color: red;
    font-size: 17px;
    opacity: 0.8;
    color: white;
}

.butcourses:hover{
    color: white;
    opacity: 0.7;
}

.butcourses i{
    margin-right: 50px;
}

.piccourses{
    margin-top: 70px;
    width: 500px;
    height:400px;
}
.footcourses{
    margin-top: 200px;
}

.footcourses::after{
    content: "";
    position: absolute;
    left: 0;
    top: 286%;
    border-left: 200px solid rgb(28, 28, 34);
    border-top: 30px solid transparent;
}

.footcourses::before{
    content: "";
    position: absolute;
    right: 0;
    top:286%;
    border-left: 200px solid transparent;
    border-bottom: 30px solid rgb(28, 28, 34);
    
}

.confootcourses{
    position: absolute;
    top:280%;
    left: 9%;
    z-index: 1;
    height:200px;
    width: 1300px;
    /* background-color: thistle; */
    background: url(../image/candle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3%;
}

.confootcourses h4{
    color: rgb(255, 255, 255);
    margin-top: 45px;
    text-align: center;
    font-size: 35px;
    font-style: italic;
}

.rowcontact1{
    margin-top: 50px;
}

.rowcontact1 h1{
    text-transform: uppercase;
    font-size: 80px;
    text-align: center;
}

.rowcontact1 p{
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}

.rowcontact2{
    margin-top: 80px;
}

.form{
    margin-left: 250px;
    /* margin-right: 400px; */
}
label{
    font-size: 20px;
}

#comment{
    height: 170px;
}

.input{
    width: 600px;
}

.sub{
    background-color: red;
    color: white;
    width: 150px;
    font-size: 18px;
}

.sub:hover{
    color: white;
    opacity: 0.7;
}

.footcontact{
    margin-top: 200px;
}

.footcontact::after{
    content: "";
    position: absolute;
    left: 0;
    top: 160%;
    border-left: 200px solid rgb(28, 28, 34);
    border-top: 30px solid transparent;
}

.footcontact::before{
    content: "";
    position: absolute;
    right: 0;
    top:160%;
    border-left: 200px solid transparent;
    border-bottom: 30px solid rgb(28, 28, 34);
    
}

.confootcontact{
    position: absolute;
    top:155%;
    left: 9%;
    z-index: 1;
    height:200px;
    width: 1300px;
    /* background-color: thistle; */
    background: url(../image/candle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3%;
}

.confootcontact h4{
    color: rgb(255, 255, 255);
    margin-top: 45px;
    text-align: center;
    font-size: 35px;
    font-style: italic;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 450px;
    height: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

.dropdown-content a {
float: none;
color: black;
padding-top: 22px;
padding-left:40px;
margin-left: 20px;
margin-right: 20px;
margin-top: 10px;
padding-bottom: 10px;
text-decoration: none;
display: block;
text-align: left;
font-size: 15px;
text-transform: uppercase;

}

#write{
    border-bottom: 1px solid #ddd;
    margin-left: 20px;
    margin-right: 20px;
}

.dropdown-content a:hover {
background-color: rgb(235, 235, 235);
}

.dropdown>a>span{
    padding-left: 13px;
}
.dropdown .navsabout {
    color:rgb(0, 0, 0);
    font-size: 16px;
    padding-top: 19px;
    margin-right: 20px;
    width: 150px;
    height: 60px;
    text-align: center;
    border: none;
    background-color: white;
  }
  
.dropdown:hover .navsabout{
    background-color: black;
    color: white;
    cursor: pointer;
}
.dropdown:hover .dropdown-content{
    display: block;
}

.what i{
    margin-right: 20px;
}

#down2{
    display:none;
}
.dropdown:hover #down {
    display:none;  
}
.dropdown:hover #down2 {
    display:inline-block;  
} 

.navsabout::after,.navsabout::before{
    transition: all .5s;
}

.navsabout::after{
 display: block;
  position: absolute;
  margin: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '.';
  color: transparent;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
}

.navsabout:hover:after{
    animation: circle 1.5s ease-in forwards;
}

.row1 h1{
    font-size: 90px;
    text-transform: uppercase;
}

.row2{
    margin-top: 80px;
}

.col1{
    /* background-color: blue; */
    padding-left: 100px;
}

.col1 h2{
    font-size: 33px;
    font-weight: 350;
}

.col1 p{
    padding-top: 35px;
    font-size: 17px;
}

.picabout{
    width: 700px;
    height: 450px;
}

.row3{
    margin-top: 100px;
}

.col2{
    margin-top: 100px;
    background-color: white;
    height:70px;
}

.col2 a {
    text-decoration: none;
    padding-right:350px;
    /* padding-left: 50px; */
    font-weight: 500;
    color: rgb(121, 121, 121);
    
}

.col2 a:hover{
    color:rgb(82, 82, 82);
}

.row4{
    margin-top: 100px;
}

.col3 h1{
    text-align:center;
    font-size:60px;
    font-weight:300;
}

.col3 p{
    padding-top:30px;
    padding-left: 350px;
    padding-right:350px;
    font-size:17px;
}

.row5{
    margin-top: 100px;
}

.col4 h1{
    text-align:center;
    font-size:60px;
    font-weight:300;
}

.col4>p>span{
    font-weight: bold;
}

.col4 p{
    padding-top:30px;
    padding-left: 350px;
    padding-right:350px;
    font-size:17px;
    font-weight: 400;
}

.row6{
    margin-top: 100px;
}

.col5 h1{
    text-align:center;
    font-size:60px;
    font-weight:300;
}

.col5 p{
    padding-top:30px;
    padding-left: 350px;
    padding-right:350px;
    font-size:17px;
    font-weight: 400;
}

.col5>p>a{
    text-decoration: none;
    color: red;
}

.foots{
    margin-top: 200px;
}

.foots::after{
    content: "";
    position: absolute;
    left: 0;
    top: 312%;
    border-left: 200px solid rgb(28, 28, 34);
    border-top: 30px solid transparent;
}

.foots::before{
    content: "";
    position: absolute;
    right: 0;
    top:312%;
    border-left: 200px solid transparent;
    border-bottom: 30px solid rgb(28, 28, 34);
    
}

.confoots{
    position: absolute;
    top:305%;
    left: 9%;
    z-index: 1;
    height:200px;
    width: 1300px;
    /* background-color: thistle; */
    background: url(../image/candle.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 3%;
}

.confoots h4{
    color: rgb(255, 255, 255);
    margin-top: 45px;
    text-align: center;
    font-size: 35px;
    font-style: italic;
}
